@model AcmeIncEcommerce.Models.ProductViewModel

@{
    ViewBag.Title = "Create Product";
}
    <div class="jumbotron" style="margin-top:40px;">
        <h2 style="margin-top: -20px;">@ViewBag.Title</h2>




        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Partial("_ProductEditCreatePartial", Model)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>

            $.validator.methods.range = function (value, element, param) {
                var globalizedValue = value.replace(",", ".");
                return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
            }

            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }
            //Date dd/MM/yyyy
            $.validator.methods.date = function (value, element) {
                var date = value.split("/");
                return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
            }
        </script>
    }


